@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  /* COLORS */
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);
  --white: hsl(36, 100%, 99%);
  --gray: hsl(233, 8%, 79%);
  --darkgray: hsl(236, 13%, 42%);
  --darkblue: hsl(240, 100%, 5%);

  /* FONT SIZING */
  /* 14.00px → 16.00px */
  --sm: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
  /* 16.00px → 18.00px */
  --md: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem);
  /* 18.00px → 24.00px */
  --lg: clamp(1.13rem, calc(0.99rem + 0.56vw), 1.5rem);
  /* 40.00px → 48.00px */
  --xl: clamp(2.5rem, calc(2.32rem + 0.75vw), 3rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Inter - main font; Arial - fallback font */
  font-family: "Inter", "Arial", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--lg);
  color: var(--darkblue);
}

h1,
h2,
h3 {
  font-weight: 800;
}

img {
  max-inline-size: 100%;
}

.body--dimmed:before {
  content: ".";
  inline-size: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  /* (32px / 1440) * 100 → 2.22% */
  gap: max(2rem, 2.22%);
  padding: 2rem 1rem;
}

@media screen and (min-width: 920px) {
  .container {
    padding: 5% 20%;
  }
}
